@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="my-4">Информация о группе
        <small>Ознакомтесь с информацией, она поможет решить подходит ли вам группа</small>
    </h1>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="" alt=""/>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Описание группы</h3>
            <p></p>
            <h3 class="my-3"Детальная информация></h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
        
    </div>

    <h3 class="my-4">Рекомендованные группы</h3>

    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="" alt=""/>
            </a>
        </div>
         <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
            <img class="img-fluid" src="" alt=""/>
            </a>
        </div>
    </div>
    
</div>