@using LearnProgrammingTogether.ViewModels
@model List<UserViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="bg-white">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <img alt="Нет фото" src="@user.ProfileImageUrl" width="10%" height="10%" class="avatar">
                                        <div class="media-body">
                                            <span class="h6 mb-0">@user.NickName</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                        View Profile
                                    </a>
                                </td>

                                @{
                                    var studyLang = user.StudyLang == null ? "?" : user.StudyLang.ToString();
                                    var typeFramework = user.TypeFramework == null ? "?" : user.TypeFramework.ToString();
                                    var level = user.Level == null ? "?" : user.Level.ToString();
                                }
                                <td>@studyLang mile at @typeFramework mph</td>
                               @* <td><i class="icon-location"></i> @user.Location</td>*@
                            </tr>
                            <tr class="table-divider">
                                <th></th>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>